.Auth-container{
    background-image: url(assets/images/auth-bg.png);
    background-size: cover;
}
.bg-overlay{
    background: linear-gradient(to left,rgba(0,0,0,0.4),rgba(47,140,51,0.7));
}
.sidebar-container .ps-sidebar-root{
    border-top-right-radius: 40px;
}
.sidebar-container .ps-sidebar-container{
background-color: #1F263E;
border-top-right-radius: 40px;
color: #fff;
}
.sidebar-container .ps-sidebar-container .ps-menu-button:hover{
background-color: rgba(0, 146, 71, 0.1);
}
.header-content{
    background-image: url(./assets/images/heade-bg.png);
}
.home-sec{
    background-color: rgba(240, 255, 239, 1);
}
.rec-image-container{
    width: 30px;
}